@import "_variables.scss";
@import "_bootswatch.scss";

/* Styles généraux */

.navbar ul {
    margin-left: 30%;
}

.logo-site {
    padding: 3% 0;
    width: 100%;
}

.logo-site img {
    width: 20%;
    position: relative;
    left: 35%;
}

footer {
    padding: 5%;
    font-size: 1.5em;
    text-align: center;
}


/*///STYLES DE LA PAGE D'ACCUEIL////*/


/*Top */

.accueil-top-gauche {
    color: $body-bg;
    background-color: $gray-base;
    padding: 12vh 1%;
    text-align: center;
}

.accueil-top-gauche h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 5% 0;
}

.accueil-top-gauche .lead {
    font-size: 1.2em;
}

.accueil-top-gauche i {
    font-size: 4em;
}

.accueil-top-droite img {
    display: inline-block;
    width: 100%;
}


/*Centre */

.accueil-mid-gauche img,
.accueil-mid-droit img {
    display: inline-block;
    max-width: 100%;
}

.accueil-mid-centre p {
    background-color: $gray-dark;
    color: $body-bg;
    font-size: 2em;
    padding: 2%;
}

.accueil-centre {
    margin: 5vh 0;
}


/*Centre bas */

.accueil-mid-centre-bas {
    background-color: $gray-lighter;
    text-align: center;
    color: $brand-primary;
    padding: 2.8%;
}

.accueil-mid-centre-bas a {
    color: $brand-primary;
    font-size: 1.5em;
}

.accueil-mid-centre-bas i {
    font-size: 2em;
    color: $brand-primary;
}

.accueil-mid-droit-bas {
    color: #fff;
    font-size: 1.3em;
    background-color: $gray-base;
    text-align: center;
    padding: 3.8%;
}


/*///STYLES DE LA PAGE À PROPOS///*/

.heading-a-propos {
    color: #fff;
    width: 100%;
    font-size: $lg-heading-page;
    background-color: $gray-base;
    text-align: center;
    padding: 5%;
    background-image: url("../images/images-demos/a-propos-top.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
}

.contenu-a-propos {
    margin-top: 2%;
    padding: 2%;
    font-size: 1.5em;
}

.image-normand-chantale img {
    display: inline-block;
    max-width: 100%;
}


/*///STYLES DE LA PAGE PROJETS///*/

.heading-projets {
    color: #fff;
    width: 100%;
    font-size: $lg-heading-page;
    background-color: $gray-base;
    text-align: center;
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
}