@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
.navbar-inverse .badge {
  background-color: #fff;
  color: #2780E3; }

body {
  -webkit-font-smoothing: antialiased; }

.text-primary,
.text-primary:hover {
  color: #2780E3; }

.text-success,
.text-success:hover {
  color: #3FB618; }

.text-danger,
.text-danger:hover {
  color: #FF0039; }

.text-warning,
.text-warning:hover {
  color: #FF7518; }

.text-info,
.text-info:hover {
  color: #9954BB; }

table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline; }

table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none; }

table .success,
table .warning,
table .danger,
table .info,
.table .success,
.table .warning,
.table .danger,
.table .info {
  color: #fff; }
  table .success a,
  table .warning a,
  table .danger a,
  table .info a,
  .table .success a,
  .table .warning a,
  .table .danger a,
  .table .info a {
    color: #fff; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #FF7518; }

.has-warning .form-control,
.has-warning .form-control:focus,
.has-warning .input-group-addon {
  border: 1px solid #FF7518; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #FF0039; }

.has-error .form-control,
.has-error .form-control:focus,
.has-error .input-group-addon {
  border: 1px solid #FF0039; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #3FB618; }

.has-success .form-control,
.has-success .form-control:focus,
.has-success .input-group-addon {
  border: 1px solid #3FB618; }

.nav-pills > li > a {
  border-radius: 0; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: none; }

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4; }
  .close:hover, .close:focus {
    opacity: 1; }

.alert {
  border: none; }
  .alert .alert-link {
    text-decoration: underline;
    color: #fff; }

.label {
  border-radius: 0; }

.progress {
  height: 8px; }
  .progress .progress-bar {
    font-size: 8px;
    line-height: 8px; }

.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.panel-default .close {
  color: #333333; }

a.list-group-item-success.active {
  background-color: #3FB618; }

a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
  background-color: #379f15; }

a.list-group-item-warning.active {
  background-color: #FF7518; }

a.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus {
  background-color: #fe6600; }

a.list-group-item-danger.active {
  background-color: #FF0039; }

a.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus {
  background-color: #e60033; }

.modal .close {
  color: #333333; }

.popover {
  color: #333333; }
